.wmanager_win {
	-moz-box-shadow: 2px 2px 5px #888;
	-webkit-box-shadow: 2px 2px 5px #888;
}
.wmanager_icon {
	margin:1px 4px 0px 4px;
	border:0;
}
.wmanager_win .ui-dialog-content{
	background: !important;
}
.wmanager_win .ui-dialog-titlebar{
	padding: 2px !important;
	background:  !important;
	border: 0;
}
.wmanager_win .ui-dialog-content{
	background: !important;
}
.wmanager_win .ui-dialog-titlebar{
	background:  !important;
	border: 0;
}
.wmanager_tooltip {
	background:none repeat scroll 0 0 #FCFCC5;
	border:1px solid #CCCCCC;

	padding:6px;
	position:absolute;
	z-index:20000 !important;
	}