* {margin:0;padding:0;} 
html, body {height: 100%;}
#main {

} 
#footer {
	background: url("i/panelback.png") repeat-x scroll 0 0 transparent;
	position: absolute;
	height: 30px;
	width:100%;
}

#wm_group_wins {
	display:block;
	float:left;
}

/* wManager */
.wm_coll{
	list-style: none;
	float: left;
	height: 30px;
	line-height: 30px;
}
.wm_coll a {
	text-decoration: none;
	color:#fff;
	background: url("i/tasksel.png") repeat-x scroll 0 0 transparent !important;
}
.wm_coll a:hover {
	text-decoration: none;
	color:#ccc;
	background: url("i/tasksel.png") repeat-x scroll 0 0 transparent !important;
}